In [13]:
# Write a program on aggregate operations with pandas Library

import pandas as pd
# Create a sample DataFrame
data = {
	'A' : [1, 2, 3, 4, 5, 5]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

DataFrame:
   A
0  1
1  2
2  3
3  4
4  5
5  5

In [2]:
# Sum
print("\nSum of each column")
print(df.sum())

Sum of each column
A    20
dtype: int64

In [3]:
# Mean
print("\nMean of each column")
print(df.mean())

Mean of each column
A    3.333333
dtype: float64

In [4]:
# Median
print("Median of each column")
print(df.median())

Median of each column
A    3.5
dtype: float64

In [5]:
# Mode
print("\nMode of each column")
print(df.mode())

Mode of each column
   A
0  5

In [6]:
# Minimum
print("\nMinimum value of each column:")
print(df.min())

Minimum value of each column:
A    1
dtype: int64

In [7]:
# Maximum
print("\nMaximum value of each column")
print(df.max())

Maximum value of each column
A    5
dtype: int64

In [11]:
# Count
print("\nCount of non-NA/null entries of each column")
print(df.count())

Count of non-NA/null entries of each column
A    7
dtype: int64

In [14]:
# Variance
print("\nVariance of each column")
print(df.var())

# Standard Deviation
print("\nStandard Deviation of each column")
print(df.std())

Variance of each column
A    2.666667
dtype: float64

Standard Deviation of each column
A    1.632993
dtype: float64

In [28]:
# Write a program on dataframe opearation and grouping with pandas library

import pandas as pd

# Series
name = pd.Series(["Ganesh", "Sachin", "Anil", "Subin"])
print(name)

# DataFrame
a = pd.DataFrame({"Student Name" : name, "Regno" : [1, 2, 5, 8], "semester":[5, 3, 1, 5]})
print(a)

0    Ganesh
1    Sachin
2      Anil
3     Subin
dtype: object
  Student Name  Regno  semester
0       Ganesh      1         5
1       Sachin      2         3
2         Anil      5         1
3        Subin      8         5

In [ ]:
# Datatypes
print("\nDatatypes")
print(a.dtypes)

# Describe 
print("Describe:")
print(a.describe())

# info
print(a.info())

# Column
print("Columns")
print(a.columns)

# Column of index
print("\nColumn of index 1:")
info_col = a.columns
print(info_col[1])

# Index
print("Index:")
print(a.index)

# Length
print("Length")
print(len(a))

Datatypes
Student Name    object
Regno            int64
semester         int64
dtype: object
Describe:
          Regno  semester
count  4.000000  4.000000
mean   4.000000  3.500000
std    3.162278  1.914854
min    1.000000  1.000000
25%    1.750000  2.500000
50%    3.500000  4.000000
75%    5.750000  5.000000
max    8.000000  5.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student Name  4 non-null      object
 1   Regno         4 non-null      int64
 2   semester      4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None
Columns
Index(['Student Name', 'Regno', 'semester'], dtype='object')

Column of index 1:
Regno
Index:
RangeIndex(start=0, stop=4, step=1)
Length
4
Student Name    4
Regno           4
semester        4
dtype: int64

In [ ]:
# Head
print("Head of dataframe")
print(a.head())

# Tail
print("\nTail of dataframe")
print(a.tail())

# Merging columns
print("\nmerging two columns.")
a["new column"] = a["Regno"] + a["semester"]
print(a)

# Adding column
print("\nadding columns")
a["Marks"] = [98, 100, 87, 88]


print(a)

Head of dataframe
  Student Name  Regno  semester  new column  Marks
0       Ganesh      1         5           6     98
1       Sachin      2         3           5    100
2         Anil      5         1           6     87
3        Subin      8         5          13     88

Tail of dataframe
  Student Name  Regno  semester  new column  Marks
0       Ganesh      1         5           6     98
1       Sachin      2         3           5    100
2         Anil      5         1           6     87
3        Subin      8         5          13     88

merging two columns.
  Student Name  Regno  semester  new column  Marks
0       Ganesh      1         5           6     98
1       Sachin      2         3           5    100
2         Anil      5         1           6     87
3        Subin      8         5          13     88

adding columns
  Student Name  Regno  semester  new column  Marks
0       Ganesh      1         5           6   98.0
1       Sachin      2         3           5  100.0
2         Anil      5         1           6   87.0
3        Subin      8         5          13   88.0

In [46]:
print("\nLocation schema")
a.loc[0]

print("\nMissing value in the dataframe")
a.isnull()

print("\nGrouping")
a.groupby("semester")["Marks"].mean()

Location schema

Missing value in the dataframe

Grouping

semester
1     87.0
3    100.0
5     93.0
Name: Marks, dtype: float64

In [71]:
df = pd.read_excel("student_data.xlsx")

df.fillna({"College" : "Polytechnic"}, inplace=True)

df.rename(columns={"College":"College Name"}, inplace=True)

df["Sem"] = df["Sem"].astype("int")

df.loc[df["Name"] == "Mithun Kumar", "College Name"] = "MEI Polytechnic"

df["College Name"].value_counts()

df.groupby("College Name")["Age"].mean()

df.sort_values(by="Name", ascending=True, inplace=True, ignore_index=True)

df.shape

(10, 5)

In [72]:
df.to_csv("student_data2.csv", index=False)

In [74]:
import scipy.stats as sp 

# Create the DataFrame
data = {"A" : [23, 45, 6, 7, 87]}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame")
print(df)

# Variance
print("Variance of each column")
print(df.var())

# Standard Deviation
print("\nStandard deviation of each column")
print(df.std())

# Zscore
print("\nZscore of each value")
print(sp.zscore(df))

DataFrame
    A
0  23
1  45
2   6
3   7
4  87
Variance of each column
A    1140.8
dtype: float64

Standard deviation of each column
A    33.775731
dtype: float64

Zscore of each value
[[-0.35087798]
 [ 0.37735934]
 [-0.91360682]
 [-0.88050512]
 [ 1.76763058]]

In [6]:
import pandas as pd

data = {
	'Department' : ['HR', 'IT', 'HR', 'IT', 'HR', 'Finance'],
	'Employee' : ['A', 'B', 'C', 'E', 'F', 'G'],
	'Salary' : [20000, 10000, 15000, 20000, 60000, 25000]
}

df = pd.DataFrame(data)

grouped = df.groupby("Department")["Salary"].mean()
print(grouped)
result = df.groupby("Department")['Salary'].agg(['mean', 'sum', 'max'])
result2 = df.groupby('Department')['Salary'].mean().reset_index()
print(result2)

Department
Finance    25000.000000
HR         31666.666667
IT         15000.000000
Name: Salary, dtype: float64
  Department        Salary
0    Finance  25000.000000
1         HR  31666.666667
2         IT  15000.000000

pivot()

- it converts rows into columns - useful when you want to summarize or display data in a table-like form

In [4]:
import pandas as pd

data = {
	"Month" : ['Jan', 'Jan', 'Feb', 'Feb'],
	"Product" : ['A', 'B', 'A', 'B'],
	"Sales" : [100, 150, 200, 250]
}

df = pd.DataFrame(data)
pivoted = df.pivot(index='Month', columns='Product', values='Sales')

print(pivoted)

Product    A    B
Month
Feb      200  250
Jan      100  150

In [5]:
data = {
	"Rollno" : [1, 2, 3, 6, 8],
	"Sem" : [1, 1, 2, 5, 5],
	"Names" : ["Vijay", "Ajay", "Nithin", "Mithun", "Karan"]
}

df = pd.DataFrame(data)
pivoted_df = df.pivot(index='Rollno', columns='Sem', values='Names')
print(pivoted_df)

Sem         1       2       5
Rollno
1       Vijay     NaN     NaN
2        Ajay     NaN     NaN
3         NaN  Nithin     NaN
6         NaN     NaN  Mithun
8         NaN     NaN   Karan

In [ ]:
melted = pivoted_df.reset_index().melt(id_vars='Rollno', var_name="Sem", value_name="Names")
print(melted)

    Rollno Sem   Names
0        1   1   Vijay
1        2   1    Ajay
2        3   1     NaN
3        6   1     NaN
4        8   1     NaN
5        1   2     NaN
6        2   2     NaN
7        3   2  Nithin
8        6   2     NaN
9        8   2     NaN
10       1   5     NaN
11       2   5     NaN
12       3   5     NaN
13       6   5  Mithun
14       8   5   Karan

- id_vars : variables that identify rows : columns to keep
- var_name : Name for melted variable column : column for original column name
- value_name : Name for melted value column : column for original cell values

In [10]:
import pandas as pd

data = {
	"cus_id" : [1, 2, 4, 5, 6],
	"cus_name" : ["Maco", "Jon", "Mike", "Tyson", "Carl"],
	"item" : ["Milk", "Bread", "Juice", "Cake", "Jam"]
}

df = pd.DataFrame(data)

pivoted = df.pivot(index="cus_id", columns="cus_name", values="item")
melted = pivoted.reset_index().melt(id_vars="cus_id", var_name="cus_name", value_name="item")
print(melted)

    cus_id cus_name   item
0        1     Carl    NaN
1        2     Carl    NaN
2        4     Carl    NaN
3        5     Carl    NaN
4        6     Carl    Jam
5        1      Jon    NaN
6        2      Jon  Bread
7        4      Jon    NaN
8        5      Jon    NaN
9        6      Jon    NaN
10       1     Maco   Milk
11       2     Maco    NaN
12       4     Maco    NaN
13       5     Maco    NaN
14       6     Maco    NaN
15       1     Mike    NaN
16       2     Mike    NaN
17       4     Mike  Juice
18       5     Mike    NaN
19       6     Mike    NaN
20       1    Tyson    NaN
21       2    Tyson    NaN
22       4    Tyson    NaN
23       5    Tyson   Cake
24       6    Tyson    NaN

In [ ]:
df = pd.DataFrame({'A' : [1, 2, 3, 5, 6]})
df['Squred'] = df['A'].map(lambda x : x ** 2)

df = pd.DataFrame({'A' : ["Mithun", "Manoj", "Vijay", "Mohan"]})
df["Combine Name"] = df["A"].map(lambda x : x + " Kumar")

print(df['Combine Name'])

0    Mithun Kumar
1     Manoj Kumar
2     Vijay Kumar
3     Mohan Kumar
Name: Combine Name, dtype: object

In [15]:
df = pd.read_csv("student_data2.csv")

df["College code"] = df["College Name"].map({"SJP Polytechnic" : 1, "PVP Polytechnic" : 2, "MEI Polytechnic" : 3, "Polytechnic" : 4})

print(df["College code"])

0    1
1    3
2    3
3    2
4    4
5    4
6    1
7    1
8    4
9    4
Name: College code, dtype: int64

In [22]:
# filter()

numbers = [31, 4, 6, 71, 8, 11, 17]
result = list(filter(lambda x : x > 20, numbers))
print(result)

df = pd.DataFrame({
	"Name" : ["Suresh", "Mahesh", "Ganesh"],
	"Age" : [20, 21, 22],
	"City" : ["NY", "LA", "SF"]
})

df_filtered = df.filter(["Name", "Age"])
print(df_filtered)

df_filtered = df.filter(like="A")
print(df_filtered)

[31, 71]
     Name  Age
0  Suresh   20
1  Mahesh   21
2  Ganesh   22
   Age
0   20
1   21
2   22

In [ ]:
# reduce

from functools import reduce

numbers = [1, 2, 4, 5, 7, 8]
sum_reduce = reduce(lambda a , b : a + b , numbers)
print(sum_reduce)

product_reduce = reduce(lambda a , b : a * b, numbers)
print(product_reduce)

df = pd.DataFrame({
	'A' : [1, 3, 4, 6],
    'B' : [8, 3, 2, 1],
    'C' : [7, 4, 1, 2]
}
)
print(df)

single_col = reduce(lambda x, y: x + y , df["A"])
df["Sum"] = reduce(lambda x , y : x + y, [df["A"], df["B"], df["C"]])
print(df)

27
2240
   A  B  C
0  1  8  7
1  3  3  4
2  4  2  1
3  6  1  2
   A  B  C  Sum
0  1  8  7   16
1  3  3  4   10
2  4  2  1    7
3  6  1  2    9

In [34]:
items = ["Bread", "Cool Drinks", "Jam", "Milk", "Biscuts"]

for index, item in enumerate(items):
    print(index, item)

0 Bread
1 Cool Drinks
2 Jam
3 Milk
4 Biscuts